@media screen and (max-width: 1024px) {
  .container {
    padding: 0 40px;
    header {
      .menu-toggle {
        display: block;
      }
      nav {
        display: none;
        position: absolute;
        top: 137px;
        width: 100%;
        left: 0;
        background-color: #f9f9f9;
        ul {
          display: block;
          li {
            display: block;
            margin: 0;
            a {
              display: block;
              padding: 15px 0;
              text-align: center;
              border-bottom: 1px solid #eee;
              font-size: 20px;
            }
          }
        }
      }
      .search {
        display: none;
      }
    }
    .hero {
      h2 {
        text-align: center;
      }
      .hero-inner {
        display: block;
        .left-box {
          .find-home {
            input.text-input {
              max-width: none;
            }
            .col {
              max-width: none;
              input {
                width: 49% !important;
              }
            }
          }
        }
        .right-box {
          h2 {
            text-align: center;
          }
          h4 {
            text-align: center;
          }
          .home-shape {
            margin: 30px auto;
            width: 270px;
            height: 285px;
          }
        }
      }
    }
  }
}
