nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
      margin-right: 30px;
      list-style: none;
      a {
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
        color: $text;
      }
    }
  }
}
