header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border;
  padding: 35px 0;
  @import "../components/logo";
  @import "../components/toggleMenu";
  @import "../components/menu";
  @import "../components/search";
}
