$primaryColor: #eb6282;
$secondayColor: #ffe9c5;
$thirdColor: #fa9090;
$bodyBackground: #ffffff;
$elementsBackground: #eaeaea;
$text: #000000;
$text2: #6e6e6e;
$text3: #ffffff;
$boxSize: 1764px;
$border: #eee;
